


<nav class="navbar bg-body-tertiary" [ngClass]="{'hidden': !isNavbarVisible}">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img src="assets/favicon-32x32.png" alt="Logo" width="38" height="38" class="logo">
      <a class="nav-link" href="#" (click)="toggleDropdown()">
        Stand Alone Complex
      </a>
      <div class="dropdown-menu" [class.show]="isDropdownOpen" (mouseenter)="isDropdownOpen = true" (mouseleave)="isDropdownOpen = false">
        <a class="dropdown-item" routerLink="/photos">Stand Alone Festival</a>
        <a class="dropdown-item" routerLink="/gloam-session">Gloam Session</a>
        <a class="dropdown-item" routerLink="/audiolibri">Audiolibri</a>
        <a class="dropdown-item" routerLink="/eventi">Eventi</a>
      </div>
    </div>
  </div>
</nav>
