.box{
  background-color:rgb(55, 3, 55);
}
.custom-image {
  width: 70%; // Larghezza predefinita per desktop
  height: auto;

  @media screen and (max-width: 767px) { // Modifiche per schermi più piccoli (media screen only)
    width: 100%; // Larghezza al 100% per smartphone
  }
}

