.audio-scene-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 70px;
  background-color: #0f3f20;
  color: black;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    padding: 70px;
  }

  @media (max-width: 375px) {
    padding: 70px;
  }
}

.audio-main {
  .main-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    max-height: 50vh;
  }

  h2 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }

  p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.audio-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  iframe {
    max-width: 100%;
    height: auto;
  }

  .spotify-link {
    a {
      text-decoration: none;
      color: #1db954;
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
